.collapse-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 38px 78px;
    align-items: center;
}

/* Media query */
@media screen and (max-width: 600px) {
    .collapse-wrapper {
        padding: 19px 0;
        gap: 20px;
    }
}