/* General Styles */
.card {
    width: 100%;
    max-width: 340px;
    border-radius: 10px;
    overflow: hidden;
}

.card-cover {
    position: relative;
}

.card-img {
    width: 100%;
    height: auto;
    min-height: 340px;
    object-fit: cover;
    border-radius: 10px;
}

.card-title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 26px;
    text-align: left;
    color: #fff;
    font-weight: 700;
}

/* Media Queries */
@media screen and (max-width: 1420px) {
    .card {
        max-width: 100%;
    }
}

@media screen and (max-width: 960px) {
    .card {
        max-width: 100%;
    }
}

@media screen and (max-width: 460px) {
    .card-img {
        min-height: 255px;
    }
}