/* General Styles */
header {
    background-color: #fff;
    padding: 45px 0 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 60px;
    width: 210.32px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    width: 136px;
    height: 34px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
    text-align: right;
    color: #000;
    text-decoration: none;
}

nav ul li .active {
    text-decoration: underline;
    text-decoration-color: grey;
}

/* Media Queries */
@media screen and (max-width: 800px) {
    header {
        padding: 20px 0 0 0;
    }
    .logo {
        height: 46.88px;
        width: 145px;
    }
    nav ul li:first-child a {
        padding-right: 26px;
    }
    nav ul li a {
        font-size: 20px;
        text-transform: uppercase;
        align-items: center;
        width: 100%;
        height: 17px;
    }
}

@media screen and (max-width: 600px) {
    nav ul li a {
        font-size: 12px;
    }
}

@media screen and (max-width: 420px) {
    nav ul li:first-child a {
        padding-right: 20px;
    }
}

@media screen and (max-width: 350px) {
    nav ul li:first-child a {
        padding-left: 20px;
    }
    nav ul li a {
        padding-left: 20px;
    }
    .logo {
        margin-right: 30px;
    }
}