.logements-menu {
    margin-top: 43px;
    margin-bottom: 50px;
    background-color: #f6f6f6;
    border-radius: 25px;
    height: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-items: center;
    align-items: center;
    row-gap: 50px;
    column-gap: 50px;
    padding: 56px 3.47% 43px;
}

.logements-menu h2 {
    text-align: center;
}

/* Media Queries */
@media screen and (max-width: 1190px) {
    .grid-container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media screen and (max-width: 960px) {
    .grid-container {
        grid-template-columns: minmax(0, 1fr);
        justify-items: baseline;
        row-gap: 20px;
        column-gap: 20px;
        padding: 20px 0;
    }

    .logements-menu {
        margin-top: 0;
        background-color: #fff;
    }
}